.cardProfile
    display flex
    justify-content: space-between
    align-items: center
    border-radius 6px
    padding 4 * $padding 4 * $padding
    margin-bottom 4 * $px
    background #fff
    +e(number)
        color $primary
        font-size 32 * $px
        font-weight 100
    +e(indicator)
        display: flex
        justify-content: space-between
        align-items: center
        padding: 4 * $padding
    +e(label)
        font-size: 8 * $px
        text-transform: uppercase
        font-weight: bold
        color: #333333
