.communityList
    display: flex
    flex-direction: column
    padding: 2 * $padding
    height: 300 px
    +e(txt) 
        margin: 2 * $padding
    +e(icon)
        background $primary
        color white
        padding: 2 * $padding
        border-radius: 1 * $radius
    +e(item)
        height: 100%
        padding: 4 * $padding 0 * $padding
        