.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4 * $padding 2 * $padding

.btn
    background: none
    border none 
    outline none 
    color black
    font-size: 24 * $px
    
.profile 
    display: flex
    justify-content: center
    align-items: center
    box-sizing border-box	
    height 32px	
    width 32px	
    border 1px solid #8860CF
    border-radius: 100px
    +m(big)
        width: 64px
        height: 64px