.indicatorCard
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: stretch

.card 
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: baseline
	border-radius 6px
	background linear-gradient(136.56deg, #B682F9 0%, #855ECC 100%)
	padding: 4 * $padding 2 * $padding 4 * $padding 2 * $padding
	margin-bottom: 4 * $px
	+e(number)
			color #FFFFFF
			font-size 40 * $px
			font-weight: 100
	+e(txt)
			color #FFFFFF
			font-size 16 * $px
			margin-left: 8 * $px
			font-weight: 200

    